@media (max-height: 600px) {
    #mainContent {
        margin-top: 5rem;
    }
}

/* Estilo para la línea debajo del enlace activo del Menu*/
#menuList a.active::after,
#mobileNav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
}


/* Home */
.container_button {
    text-align: center;
}

.container_button a {
    text-decoration: none;
}

.cv_button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 200px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.contact_button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-x-4;
}

.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
}


.icon {
    transition: color 0.3s;
}

.icon-circle:hover .icon {
    color: white;
}

.inicio_text-1 {
    font-size: 2em;
}

.inicio_text-2 {
    font-size: 5em;
    /* Tamaño relativo */
}

.home_text-3 {

    font-size: 2em;
    /* Tamaño relativo */
}

.parrafo-info {
    width: 70%;
    /* Cambia el valor según el ancho deseado */
}


/*Sobre mi*/

.sobreMi {
    background-color: #f0f0f0;
    /* Cambia este valor al color que desees */
    /* También puedes añadir otros estilos como padding, margen, etc. */
}

.title {
    font-size: 38px;
    /* Tamaño de la fuente aumentado a 32px */
}

.title_sobreMi {
    font-size: 34px;
}

.texto_sobreMi {
    font-size: 20px;
}


/*Habilidades*/
.cards--habilidades img {
    width: 80px;
    /* Ajusta este valor según sea necesario */
    height: 80px;
    /* Esto mantendrá la proporción original */
}


#menuhabilidades a.active {
    color: #1CB0E8;
    /* Color de texto azul */
    border-bottom: 2px solid #1CB0E8;
    /* Línea debajo */
}

#menuhabilidades a:hover {
    color: #1CB0E8;
}

/*Experiencia*/
.hidden-card {
    display: none;
}

/*Proyectos*/
.nombre-input:focus,
input:focus,
textarea:focus {
    outline: none;
    /* Quita el borde de enfoque predeterminado */
    border: 1px solid #1CB0E8;
    /* Establece el borde personalizado cuando está enfocado */
    background-color: #D1EAF8;
    /* Establece el color de fondo cuando está enfocado */
}
