*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: rgba(250, 240, 245, 5);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

.cargando {
    width: 120px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.cargando span {
    font-size: 20px;
    text-transform: uppercase;
}

.pelotas {
    width: 25px;
    height: 25px;
    animation: salto .5s alternate infinite;
    border-radius: 50%
}

.pelotas:nth-child(2) {
    animation-delay: .18s;
}

.pelotas:nth-child(3) {
    animation-delay: .37s;
}

@keyframes salto {
    from {
        transform: scaleX(1.25);
    }

    to {
        transform:
            translateY(-50px) scaleX(1);
    }
}


@media (max-height: 600px) {
    #mainContent {
        margin-top: 3.4rem;
    }
}


/* Estilo para la línea debajo del enlace activo del Menu*/
#menuList a.active::after,
#mobileNav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
}

.menu-link,
.container_text-info,
.home_text-3,
.parrafo-info,
.cv_button,
.contact_button,
.title,
.container_texto-sobreMi,
.cards_container--habilidades,
.opcionesHa,
.cards--habilidades1,
.cards_container--formacion,
.cards--experiencia,
.extra-info,
.caProyect,
.btn-custom,
.container--contacto,
.textFooter {
    font-family: 'Ubuntu', sans-serif;
}

/* Home */
.container_button {
    text-align: center;
}

.container_button a {
    text-decoration: none;
}

.cv_button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 200px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.contact_button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-x-4;
}

.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.icon {
    transition: color 0.3s;
}

.icon-circle:hover .icon {
    color: white;
}

.inicio_text-1 {
    font-size: 2em;
}

.inicio_text-2 {
    font-size: 5em;
}

.home_text-3 {
    font-size: 2em;
}

.parrafo-info {
    width: 70%;
}


/*Sobre mi*/

.sobreMi {
    background-color: #f0f0f0;
}

.title {
    font-size: 38px;
}

.title_sobreMi {
    font-size: 34px;
}

.texto_sobreMi {
    font-size: 20px;
}


/*Habilidades*/
.cards--habilidades1 img {
    width: 80px;
    height: 80px;
}

/*Experiencia*/
.hidden-card {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

::-webkit-scrollbar {
    width: 8px;
}