@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css";

.btn-custom {
  background-color: #06b6d4 !important;
  border: 2px solid #06b6d4 !important;
  color: white !important;
}

.btn-custom:hover {
  background-color: #0891b2 !important;
  border-color: #0891b2 !important;
}

.btn-custom-outline {
  border: 2px solid #06b6d4 !important;
  color: #06b6d4 !important;
}

.btn-custom-outline:hover {
  background-color: #06b6d4 !important;
  color: white !important;
}

.border-b-3 {
  border-bottom-width: 3px;
}

.text-iconproyect {
  color: #1CB0E8 !important;
}


/* Archivo de estilos CSS */
.max-h-24 {
  max-height: 6rem; 
}

.overflow-hidden {
  overflow: hidden;
}

.hover\:max-h-none:hover {
  max-height: none;
}

.transition-max-height {
  transition: max-height 0.3s ease;
}

/* Desvanecimiento en la última línea del texto */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-gradient-to-t {
  background: linear-gradient(to top, #ffffff, transparent);
}

.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}

/* Mostrar el gradiente solo cuando el texto está cortado */
.overflow-hidden:hover .bg-gradient-to-t {
  opacity: 0;
}

.flag-img {
  width: 18px;
  /* Ajusta el tamaño según sea necesario */
  height: auto;
}

/* Estilos para el tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  /* Ajusta el ancho según sea necesario */
  background-color: #555;
  /* Color de fondo del tooltip */
  color: #fff;
  /* Color del texto del tooltip */
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Posición del tooltip, ajusta según sea necesario */
  left: 50%;
  margin-left: -60px;
  /* Centro del tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Ejemplo de estilos CSS para el placeholder */
textarea::placeholder {
  color: #9e9e9e;
  /* Color del placeholder */
  opacity: 1;
  /* Opacidad del placeholder */
}